In [1]:
import pandas as pd

# before running this notebook, you need to first extract the metadata from the tokens file
awk 'FS="|" {print $1}' corpus/uniref100_e_tokens_combined_20240910.dat > corpus/uniref100_e_tokens_combined_20240910_metadata.dat

In [2]:
tokens_file = "/Users/patrick/dev/ucl/word2vec/comp_0158_msc_project/data/corpus/uniref100_e_tokens_combined_20240910_metadata.dat"

In [3]:
tokens_df = pd.read_csv(tokens_file, sep=':', engine='python')
tokens_df.head()

,A0A010PZJ8,493,4,1,3|PF01399,335,416|DISORDER,1.1,30|DISORDER,1.2,32|DISORDER,468,493.1
0,A0A010PZK3,512,5,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0A010PZK7,664,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A0A010PZK9,372,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A0A010PZL3,214,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A0A010PZL5,291,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# get entries that only have at least one pfam entry
pfam_df = tokens_df[tokens_df['label'] >= 0]