In [1]:
import pandas as pd

In [6]:
tokens_file = "/Users/patrick/dev/ucl/comp0158_mscproject/data/corpus/tokens_combined/metadata_uniref100_e_tokens_20240808_ALL_COMBINED.dat"

In [7]:
tokens_df = pd.read_csv(tokens_file, sep=':', engine='python')
tokens_df.head()

   A0A010PZJ8  493  4  1  3
0  A0A010PZK3  512  5  1  4
1  A0A010PZK7  664  1  1  0
2  A0A010PZK9  372  2  0  2
3  A0A010PZL3  214  1  1  0
4  A0A010PZL5  291  1  1  0

In [ ]:
# get entries that only have at least one pfam entry
pfam_df = tokens_df[tokens_df['label'] >= 0]